@model DoAnWebBanDoChoi.ViewModels.Admin.NhanVienVM

<div class="container-fluid pt-4 px-4">
    <div class="bg-white rounded shadow p-4 border">
        <h5 class="fw-bold text-primary mb-4">Thêm Tài Khoản Nhân Viên Mới</h5>

        <form asp-action="Create" asp-controller="Account" asp-area="Admin" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="HoTenHienThi" class="form-label">Họ Tên Hiển Thị</label>
                <input asp-for="HoTenHienThi" class="form-control" />
                <span asp-validation-for="HoTenHienThi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TenDangNhap" class="form-label">Tên Đăng Nhập</label>
                <input asp-for="TenDangNhap" class="form-control" />
                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MatKhau" class="form-label">Mật Khẩu</label>
                <input asp-for="MatKhau" class="form-control" type="password" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save me-1"></i> Lưu Tài Khoản
            </button>
            <a asp-action="NhanVien" class="btn btn-secondary">Quay Lại</a>
        </form>
    </div>
</div>

