 <!-- Footer Section Begin -->

<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="~/img/logox.png" alt=""></a>
                    </div>
                    <ul>
                        @await Component.InvokeAsync("CauHinh")
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Các chính sách</h6>
                    @await Component.InvokeAsync("ChinhSachFooter")
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="footer__payment_methods" style="margin-top: 20px;">
                    <h6>Phương thức thanh toán</h6>
                    <img src="~/img/hero/vnpay.png" alt="Visa/Mastercard" style="width: 50px; margin-right: 10px; height: auto;">
                    <img src="~/img/hero/paypal.jpg" alt="Visa/Mastercard" style="width: 50px; margin-right: 10px; height: auto;">
                    <img src="~/img/hero/momo.png" alt="VNPay" style="width: 50px; height: auto;">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
           
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->