@* @{
    var ch = (DoAnWebBanDoChoi.Models.CauHinh)ViewBag.CauHinh;
} *@
@{
    var daDangNhap = Context.Session.GetString("DangNhap") == "true";
}

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@toyland.com</li>
                            <li>Free Shipp cho đơn hàng lớn hơn 200 ngàn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right ">
                    @*     <div class="header__top__right__social" style="padding-right: 120px;>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div> *@
                        @if (daDangNhap)
                        {
                            @*     <a asp-controller="Account" asp-action="Logout"><i class="fa fa-user"></i> Logout</a> *@
                            <div class="header__top__right__auth"
                                 style="position: absolute; top: 10px; right: 15px; z-index: 99;">

                                <a asp-controller="Profile" asp-action="Index"
                                   class="d-flex align-items-center text-decoration-none"
                                   style="max-width: 250px;">
                                    <img src="/img/user.png"
                                         class="rounded-circle"
                                         width="30"
                                         height="30"
                                         style="object-fit: cover !important;">
                                    <span class="ms-2 fw-semibold text-dark" style="font-size: 12px !important;">
                                        TaiKhoan
                                    </span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="header__top__right__auth">
                                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Login</a>

                            </div>
                            <div class="header__top__right__auth">
                                <span>/</span>
                            </div>
                            <div class="header__top__right__auth">

                                <a asp-controller="Account" asp-action="Register"><i class=""></i> Register</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/img/logox.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>

                        <li>
                            <a href="#">Trang</a>
                            <ul class="header__menu__dropdown">                      
                                <li><a href="./shoping-cart.html">Giỏ hàng</a></li>
                                <li><a href="./shoping-cart.html">Yêu thích</a></li>
                                <li><a href="./checkout.html">Đơn hàng</a></li>
                              
                            </ul>
                        </li>
                       
                        <li><a href="./contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" onclick="kiemTraDangNhapYeuThich();">
                                <i class="fa fa-heart"></i>
                                <span id="soLuongYeuThich" class="badge badge-danger">0</span>
                            </a>
                        </li>
                        <li><a href="javascript:void(0);" onclick="kiemTraDangNhap();">
                            <i class="fa fa-shopping-bag"></i>  <span id="gioHangSoLuong" class="badge badge-danger">0</span>
                            </a>
                            </li>
                    </ul>
                    <div class="header__cart__price">

                    </div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/Home/Search" method="get">
                            <input type="text" name="keyword" placeholder="Bạn muốn tìm gì?">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<script>
    function kiemTraDangNhap() {
        fetch('/Cart/KiemTraDangNhap')
            .then(res => res.json())
            .then(data => {
                if (data.daDangNhap) {
                    // Nếu đã đăng nhập thì chuyển tới giỏ hàng
                    window.location.href = '/Cart/ChiTietGioHang';
                } else {
                    // Nếu chưa → thông báo xác nhận
                    if (confirm("Bạn cần đăng nhập để xem giỏ hàng. Bạn có muốn đăng nhập ngay không?")) {
                        window.location.href = '/Account/Login';
                    }
                }
            });
    }
        function kiemTraDangNhapYeuThich() {
        $.get('/Cart/KiemTraDangNhap', function (res) {
            if (res.daDangNhap) {
                window.location.href = '/Favorite/DanhSachYeuThich';
            } else {
                if (confirm("Bạn cần đăng nhập để xem sản phẩm yêu thích. Bạn có muốn đăng nhập ngay không?")) {
                    window.location.href = '/Account/Login';
                }
            }
        });
    }
</script>
