@model DoAnWebBanDoChoi.Models.Policy

<div class="container py-5">
    <h2 class="fw-bold">@Model.TenChinhSach</h2>
    <hr />
    <div>
        @Html.Raw(Model.NoiDung) <!-- Nội dung có format CKEditor -->
    </div>
</div>
