@model DoAnWebBanDoChoi.ViewModels.HomeVM
<div class="row" id="danh-sach-san-pham">
    @foreach (var sp in Model.SanPhams)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">

            <div class="product__item">
                <div class="featured__item__pic set-bg" data-setbg="@(Url.Content("~/img/product/dochoi/" + sp.HinhAnh + ".jpg"))">
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>

                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a asp-controller="Home" asp-action="Detail" asp-route-id="@sp.MaSp">@sp.TenSanPham</a></h6>
                    <h5>@sp.DonGia.ToString("N2") đ</h5>
                </div>
            </div>

        </div>
    }
</div>