@model DoAnWebBanDoChoi.ViewModels.LoginVM
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Đăng nhập";
}

<div class="container">
    <div class="signin-content">
        <div class="signin-image">
            <figure><img src="~/Account/images/signin-image.jpg" alt="sign in image"></figure>
            <a asp-controller="Account" asp-action="Register" class="signup-image-link">Tạo tài khoản mới</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Đăng nhập</h2>
            <form asp-action="Login" method="post" id="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                <div class="form-group">
                    <label asp-for="TenDangNhap">Tên đăng nhập hoặc Email</label>
                    <input asp-for="TenDangNhap" class="form-control" placeholder="Tên đăng nhập hoặc Email" />
                    <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MatKhau">Mật khẩu</label>
                    <input asp-for="MatKhau" class="form-control" placeholder="Mật khẩu" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>

                <div class="form-group form-button">
                    <button type="submit" class="form-submit">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: '@Html.Raw(TempData["Success"])',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                background: '#333',
                color: '#fff'
            });
        </script>
    }

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
