@model DoAnWebBanDoChoi.ViewModels.QuanLyBinhLuanVM

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#chuaDuyet">Chưa duyệt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#daDuyet">Đã duyệt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#daAn">Đã ẩn</a>
    </li>
</ul>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="chuaDuyet">
        @Html.Partial("_TableBinhLuan", Model.BinhLuanChuaDuyet, new ViewDataDictionary(ViewData) { { "TrangThaiTab", 0 } })
    </div>
    <div class="tab-pane fade" id="daDuyet">
        @Html.Partial("_TableBinhLuan", Model.BinhLuanDaDuyet, new ViewDataDictionary(ViewData) { { "TrangThaiTab", 1 } })
    </div>
    <div class="tab-pane fade" id="daAn">
        @Html.Partial("_TableBinhLuan", Model.BinhLuanDaAn, new ViewDataDictionary(ViewData) { { "TrangThaiTab", 2 } })
    </div>
</div>

