@model DoAnWebBanDoChoi.ViewModels.QuanLyBinhLuanVM

<h4 class="mb-4">Quản lý bình luận</h4>

<ul class="nav nav-tabs" id="commentTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab-chua-tab" data-bs-toggle="tab" data-bs-target="#tab-chua" type="button" role="tab">Chưa duyệt</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-da-tab" data-bs-toggle="tab" data-bs-target="#tab-da" type="button" role="tab">Đã duyệt</button>
    </li>
</ul>

<div class="tab-content mt-3" id="commentTabContent">
    <!-- Chưa duyệt -->
    <div class="tab-pane fade show active" id="tab-chua" role="tabpanel">
        @Html.Partial("_BinhLuanTable", Model.BinhLuanChuaDuyet)
    </div>

    <!-- Đã duyệt -->
    <div class="tab-pane fade" id="tab-da" role="tabpanel">
        @Html.Partial("_BinhLuanTable", Model.BinhLuanDaDuyet)
    </div>
</div>
