

.text-limit {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.text-limit-2-line {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    min-width: 200px;
    line-height: 1.4em;
    min-height: 2.8em !important;
    word-break: break-word;
}

.css_select_div {
    text-align: center;
    margin-top: 20px;
}

.css_select {
    display: inline-table;
    width: 25%;
    padding: 5px;
    margin: 5px 2%;
    border: solid 1px #686868;
    border-radius: 5px;
}

.btn-them {
    margin: 10px auto;
    display: block;
}

table {
    margin-top: 30px;
}

.dashboard-card {
    min-height: 130px;
}
