@model DoAnWebBanDoChoi.Models.DanhMuc

@{
    ViewData["Title"] = "Thêm danh mục";
}

<div class="container pt-4 px-4">
    <div class="bg-white rounded shadow p-4 border">
        <h5 class="mb-4 text-primary fw-bold">Thêm danh mục</h5>

        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="TenDanhMuc" class="form-label fw-semibold"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Lưu</button>
            <a asp-action="DanhMuc" class="btn btn-secondary">Quay lại</a>
        </form>
    </div>
</div>

